/* footer section */
.section-subscribe{
padding: 5em 0;
}
.form-control{
    outline: none;
    box-shadow: none!important;
    height: 50px;
}
.form-control:focus{
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, .2)!important;
}   
.form-control:focus,.form-control:active{
    outline: none;
}
.btn{
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, .2)!important;
}
.btn.btn-secondary{
    color: #fff;
    border-width: 2px ;
    background: #bc5148;
    border-color: #bc5148;
    padding: 10px;
}
 
.site-footer{
    padding: 5em 0;
     font-size: 14px;
    color: #fffcfc;

}
.site-footer p:last-child{
    margin-bottom: 0;
}
.site-footer a{
    color: #ffc017;
    border-bottom: 1px;


}
.site-footer a:hover{
color: #fff;
border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.site-footer h2{
    font-size: 22px;
    margin-bottom: 28px;
    letter-spacing: .05em;
    color: #fff;
}
.site-footer .footer-link li{
    line-height: 1.5;
    margin-bottom: 15px;
}
.footer-social a{
    line-height: 0;
    border-radius: 50%;
    margin: 0 5px 5px 0;
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 30px;
    height: 30px;
    text-align: center;
    display: inline-block;
}
.footer-social a:hover{
    background: #fff;
    border-color:#fff ;
 }
.footer-social .fa{
    margin-top: 6px;
}